## Hide directory listings
Options -Indexes

## Homepage silent redirect to /precisepixels/main
RewriteCond %{HTTP_HOST} ^(www.)?precisepixels.co.uk$
RewriteCond %{REQUEST_URI} !^/precisepixels/main/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /precisepixels/main/$1
RewriteCond %{HTTP_HOST} ^(www.)?precisepixels.co.uk$
RewriteRule ^(/)?$ precisepixels/main/ [L]

## Silent directory redirects
RewriteCond %{REQUEST_URI} ^/beta/(.+)?$
RewriteRule ^(.*)$ /precisepixels/beta/%1 [L]

RewriteCond %{REQUEST_URI} ^/cell/(.+)?$
RewriteRule ^(.*)$ /precisepixels/cell/%1 [L]

RewriteCond %{REQUEST_URI} ^/DelhiKitchen/(.+)?$
RewriteRule ^(.*)$ /precisepixels/DelhiKitchen/%1 [L]

RewriteCond %{REQUEST_URI} ^/gdcms/(.+)?$
RewriteRule ^(.*)$ /precisepixels/gdcms/%1 [L]

RewriteCond %{REQUEST_URI} ^/hexwords/(.+)?$
RewriteRule ^(.*)$ /precisepixels/hexwords/%1 [L]

RewriteCond %{REQUEST_URI} ^/kick-catering/(.+)?$
RewriteRule ^(.*)$ /precisepixels/kick-catering/%1 [L]

RewriteCond %{REQUEST_URI} ^/old/(.+)?$
RewriteRule ^(.*)$ /precisepixels/old/%1 [L]

## Sub-directory redirects
Redirect /precisepixels/cell http://cell-industries.co.uk
Redirect /precisepixels/peter-batten http://peterbatten.co.uk

Redirect /jacob/main       http://jacobhammond.co.uk
Redirect /jacob/sarah-lola http://sarah-lola.co.uk
Redirect /jacob/steph-sof  http://stephaniesofokleous.co.uk

Redirect /james/jalproductions http://jalproductions.co.uk
Redirect /james/tjyfilms       http://tjyfilms.co.uk
Redirect /james/yannisacott    http://yannisacott.co.uk

Redirect /joe/mainsite http://mrjwilliams.co.uk
Redirect /joe/count    http://faooful.com
Redirect /joe/josephs.space   http://josephs.space
Redirect /joe/dailyminutes   http://dailyminutes.co.uk
